[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
configobj = "*"
htmllaundry = "*"
requests = "*"
attrs = {version = ">=17.4,<20.2"}

[dev-packages]
pytest = "*"
pytest-black = "*"
safety = "*"
black = "==19.10b0" # https://github.com/psf/black/issues/517#issuecomment-573125735

[requires]
python_version = "3.7"
