[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
configobj = "*"
htmllaundry = "*"
requests = "*"
attrs = {version = ">=17.4,<19.3"}

[dev-packages]
pytest = "*"
pytest-black = "*"
safety = "*"

[requires]
python_version = "3.7"
