[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "2.11.0"
configobj = "5.0.8"

[dev-packages]
safety = "2.3.5"
black = "*"

[requires]
python_version = "3.11"
